extends layout

block scripts
	script(src='/javascripts/script.js')


block content
	h1 #{title}
 
	div#Container(class="container")
		div(class="row")
			div(class="col1") One of three columns
			div(class="col2") One of three columns
			div(class="col3") One of three columns

	block submit

//- p Show Password:
//- input#viewPassword(type="checkbox", onclick="showPassword()")
//- Set checkbox to submit on tickmark: onChange="this.form.submit()"
//- view Password attribute onclick="showPassword()