extends layout

block active
	-var selected = 'Cafés';

block scripts
	script(src='/javascripts/script.js')

block content
	.jumbotron.text-center
		h1 #{title}
		p #{about}

	#Container(class="container")
		.row
			.col-sm-4 One of three columns
			.col-sm-4 One of three columns
			.col-sm-4 One of three columns

//- p Show Password:
//- input(id="viewPassword", type="checkbox", onclick="showPassword()")
//- Set checkbox to submit on tickmark: onChange="this.form.submit()"
//- view Password attribute onclick="showPassword()