extends layout

block content
	h1 #{title}
	h2 
		if content
			content.wifi
		else
			content

	div#Information
		p#Name 
			if content
				content.wifi
			else 
				content
		p#Type
		p#Wifi


