extends layout

block content
	h1 #{title}

	form(method="POST" action='/cafes/')
		div#Name Name:
			input(name="Name", type="text", placeholder=" Cafe Name")
		div#Type Type:
			select(name="Type")
				var cafeTypes = #{cafeTypes}
				each type in cafeTypes
					option(type=type)=type
		div#Wifi Wifi: 
			input(name="WifiAvailable", type="checkbox")
			|
			|
			|
			input(name="WifiName", type="text",  placeholder=" Network Name")
			|
			|
			|
			input(name="WifiPassword", type="password",  placeholder=" Password", id="WifiPassword")
			|
			|
			|
			input#viewPassword(type="checkbox")
			|
			|
			|
			input(name="WifiSpeed", type="text", placeholder=" Speed")
			|
			|
			|
		div#Save
			button(name="Save") Save
			button(name="Reset", type="reset") Reset


			// Set checkbox to submit on tickmark: onChange="this.form.submit()"
			// viewPassword attribute onclick="showPassword()