extends layout

block styles

block scripts
	script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=" + uri + "&callback=initMap")
	script(src='/javascripts/maps.js')

block active
	-var selected = "Home";
	
block content
	include navbar
	//- .map
	//- 	#map
	.container-fluid
		.row
			.col-md-6.map
				#map
			.col-md-6.map
				.jumbotron.jumbotron-fluid.text-center.bg-muted
					h1.text-center #{title}
					p.text-center Welcome to #{title}
				//- include cafes
				iframe(src="cafes")
	//- .row
	//- 	.col
			
	//- 	.col
	//- 		p test
				//- .w-100.bg-royalblue
				//- #map
				//- h1.text-center #{title}
				//- p.text-center Welcome to #{title}
	//- .container.h-100
	//- 	.row.h-100
	//- 		.col-md
	//- 			p 100