doctype html
html
	head
		title=title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h1
			div#Nav
				a(href='/') Home
				|
				|
				|	
				a(href='/about') About
				|
				|
				|
				a(href='/cafes') Cafes
				|
				|
				|
		block content