extends layout

block styles

block scripts
	script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=" + uri + "&callback=initMap")
	script(src='/javascripts/maps.js')


block content
	#map