html {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	/*padding: 50px;*/
	/*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
	/*font: 14px: "Trebuchet MS", Helvetica, sans-serif; */
}

nav {
	height: 10vh;
}

iframe {
	height: 110%;
	width: 110%;
	border: 0;
}

/*input, select, button {
	box-shadow: none;
	border-color: yellow;
	outline: none !important;
}*/

button:focus, button:active, input:focus, input:active, select:focus, select:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

/*.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}*/

.noscrollbar {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.noselect {
	-webkit-touch-callout: 	none; /* iOS Safari */
	-webkit-user-select: 	none; /* Safari */
	-khtml-user-select: 	none; /* Konqueror HTML */
	-moz-user-select: 		none; /* Firefox */
	-ms-user-select: 		none; /* Internet Explorer/Edge */
	user-select: 			none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.bg-royalblue {
	background-color: royalblue;
}

.map {
	padding: 0;
	margin: 0;
	height: 90vh;
	width: 50vw;
}

#map {
	height: 100%;
	width: 100%;
}

.jumbotron {
	margin: 0;
	/*height: 25%;*/
	/*background: royalblue;*/
}

.c1 {
	background: royalblue;
	padding: 0;
	margin: 0;
}

.c2 {
	background: grey;
	padding: 0;
	margin: 0;
}

.c3 {
	background: black;
	padding: 0;
	margin: 0;
}