html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	/*padding: 50px;*/
	/*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
	/*font: 14px: "Trebuchet MS", Helvetica, sans-serif; */
}

.bg-royalblue {
	background-color: RoyalBlue;
}

#map {
	width: 100%;
	height: 90%;
	background-color: grey;
}